.box{
    padding: 20px;
    margin: 20px;
    float: left;
    
   
}

.dashed{
    border: 10px dashed blue
}

.dotted{
    border: 10px dotted blue

}

.double{
    border: 10px double blue

}

.groove{
    border: 10px groove blue
}

.inset{
    border: 10px inset blue
}

.outset{
    border: 10px outset blue
}

.ridge{
    border: 10px ridge blue
}

.solid{
    border: 10px solid blue
}
