#main-content div{
    background-color: #ccc;
    margin: 0 0 20px 0;


}

.static-width{
    width: 300px;
    height: 100px;
    border-radius: 30px;

}

.percentage-width{
    width: 70%;
    height: 50px;
    border-radius: 10px 20px;

}

.inline-block{
    width: 100px;
    height: 100px;
    border-radius: 50px;
   

}