.static-width{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    background-image: url(../Users/invitus/Downloads/0cd729a02f2e3a461b9bed55c62d109950438860-orig.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;

/* mozna ustawiać sobie zeby obrazek był pojedycnzy gdy docelowo jest od lewej do prawi i od góry do dołu */



}